<mat-tab-group mat-align-tabs="center" mat-stretch-tabs [(selectedIndex)]="selectedTab">
    <mat-tab label="Auctions">
        <div *ngIf="selectedTab==0">
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" 
                [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()" (scrolledUp)="onUp()">
                <app-auction-thumbnail *ngFor="let a of auctions" [auction]="a">
                </app-auction-thumbnail>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Bids">
        <div *ngIf="selectedTab==1">
            <div infinite-scroll [infiniteScrollDistance]="scrollDistance" 
                [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDownBids()">
                <app-auction-thumbnail *ngFor="let a of bids" [auction]="a" [highestOwn]="a.highestOwn">
                </app-auction-thumbnail>
            </div>
        </div>
        
    </mat-tab>
</mat-tab-group>